@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&family=Roboto:wght@100;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Merriweather", serif;
  background-color: rgb(246, 250, 253);
}
header {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}
header h1 {
  font-size: 30px;
}

.container {
  padding: 10px;
}
.container h2 {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  padding: 10px 0;
}

.container p {
  text-align: center;
  font-size: 15px;
  color: gray;
  padding: 10px 0;
}
.line1 {
  border: 2px solid;
  margin: 5px 0;
}
.line2 {
  border: 1px solid;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px 0;
  color: grey;
}
fieldset legend {
  padding: 15px 0;
  font-size: 15px;
}
.fieldset1 legend {
  font-weight: 700;
  font-size: 20px;
  color: black;
}
label {
  margin: 10px 0;
  font-size: 14px;
}

input {
  text-align: left;
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  background-color: #e0e0e0;
  color: gray;
  outline: none;
}
.hidden {
  display: none;
}

input::placeholder {
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: 10px;
}

#zipcode {
  width: 50%;
}
.container form hr {
  border: 1px solid;
}
.container form h2 {
  text-align: left;
  padding-top: 20px;
}

textarea {
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
  outline: none;
}
button {
  margin-top: 2rem;
  padding: 15px;
  color: white;
  background-color: #34eba8;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

input:focus {
  border: 3px solid rgb(26, 26, 84);
  transition: border 0.2s ease-in-out;
  border-radius: 5px;
  background-color: white;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
textarea:focus {
  border: 3px solid rgb(26, 26, 84);
  transition: border 0.2s ease-in-out;
  border-radius: 5px;
  background-color: white;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
select:focus {
  border: 3px solid rgb(26, 26, 84);
  transition: border 0.2s ease-in-out;
  border-radius: 5px;
  background-color: white;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
footer p {
  text-align: center;
  font-style: italic;
  color: grey;
  padding-bottom: 1rem;
}
br {
  display: none;
}

input[type="checkbox"]:checked + label::after {
  background-color: blue;
}
.select-wrapper {
  display: contents;
  position: relative;
  vertical-align: middle;
}
.select-wrapper::after {
  content: url(/icons/sort-solid.svg);
  position: relative;
  bottom: 28px;
  text-align: right;
  padding: 0 5px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  padding: 9px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
}

@media (min-width: 768px) {
  .container {
    width: 50%;
    display: block;
    margin: auto;
    font-size: 15px;
  }
  .fieldset1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .fieldset1 input {
    width: 70%;
    float: right;
    padding: 16px;
  }
  select {
    width: 70%;
    float: right;
    opacity: 60%;
    padding: 16px;
  }
  .fieldset1 label {
    float: left;
    width: 30%;
    font-size: 15px;
  }
  br {
    display: block;
  }
  .select-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    position: relative;
  }

  #zipcode {
    width: 25%;
  }
}
